Repository hakin19/zen-support: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: replace TEST_MODE with NODE_ENV checks in React components
  packages/web/src/components/settings/PromptTemplateEditor.tsx
  packages/web/src/components/settings/UserManagement.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: add --local flag to supabase commands in GitHub Actions
  .github/workflows/test.yml
Due: prettier --write

fix: remove incorrect --local flag from supabase db seed command
  .github/workflows/test.yml
Due: prettier --write

fix: use psql directly for seeding test data in GitHub Actions
  .github/workflows/test.yml
Due: prettier --write

chore: regenerate database types and exclude from ESLint
  eslint.config.js
  packages/shared/src/types/database.generated.ts
Due: eslint --fix, prettier --write

fix: generate TypeScript types in CI after migrations
  .github/workflows/test.yml
Due: prettier --write

fix: resolve all TypeScript and ESLint errors for CI
  packages/api/src/routes/organization.ts
  packages/web/src/store/chat.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve all remaining ESLint errors in web and api packages
  eslint.config.js
  packages/api/src/scripts/seed-test-device.ts
  packages/api/src/services/claude-code.service.ts
  packages/web/app/chat/page.tsx
  packages/web/src/components/chat/ChatMessage.tsx
  packages/web/src/components/chat/DeviceActionModal.tsx
  packages/web/src/components/chat/MessageList.tsx
  packages/web/src/components/layout/Sidebar.tsx
  packages/web/src/components/providers/AuthProvider.tsx
  packages/web/src/store/app.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve remaining TypeScript and ESLint errors in API package
  .mcp.json
  packages/api/src/routes/organization.ts
  packages/api/src/scripts/seed-test-device.ts
  packages/api/src/services/claude-code.service.ts
Due: eslint --fix, prettier --write

fix: resolve all TypeScript compilation errors
  packages/api/src/services/claude-code.service.ts
  packages/shared/src/lib/supabase.ts
Due: eslint --fix, prettier --write

fix: build shared package in CI before linting
  .github/workflows/test.yml
  packages/web/app/chat/page.tsx
  packages/web/src/components/chat/ChatMessage.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve GitHub workflow TypeScript compilation errors
  .github/workflows/test.yml
  package-lock.json
  package.json
  packages/web/package.json
  packages/web/tsconfig.json
Due: prettier --write

fix: resolve ESLint errors in CI environment
  packages/api/src/services/claude-code.service.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

fix: resolve CI lint errors by building shared package first
  .github/workflows/test.yml
  packages/api/src/services/claude-code.service.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

refactor: improve API client and WebSocket handling
  .agent-os/product/roadmap.md
  packages/api/src/routes/customer-devices.ts
  packages/api/src/routes/websocket.ts
  packages/device-agent/src/api/api-client.ts
Due: eslint --fix, prettier --write

fix: update customer-devices route with proper column names
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/spec-lite.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/spec.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/sub-specs/api-spec.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
  packages/api/src/routes/customer-devices.ts
Due: eslint --fix, prettier --write

fix(api,device-agent): stabilize device online presence
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/spec.md
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/tasks.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/spec-lite.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/spec.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/sub-specs/api-spec.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
  packages/api/src/routes/websocket.ts
  packages/device-agent/src/api/api-client.ts
  packages/device-agent/src/device-agent.ts
Due: eslint --fix, prettier --write

refactor: enhance device agent API client and connection handling
  packages/device-agent/src/api/api-client.ts
  packages/device-agent/src/device-agent.ts
Due: eslint --fix, prettier --write

fix: stabilize device-agent tests and improve error handling
  packages/device-agent/src/api/device-auth.test.ts
  packages/device-agent/src/device-agent.ts
  packages/device-agent/test/device-agent.test.ts
Due: eslint --fix, prettier --write

fix: resolve linting errors in device-agent package
  packages/device-agent/src/api/websocket-client.ts
  packages/device-agent/src/device-agent.ts
Due: eslint --fix, prettier --write

fix: update GitHub Actions to use docker compose v2 syntax
  .github/workflows/test.yml
Due: prettier --write

fix: add missing Docker image and network configuration for test services
  infrastructure/docker/docker-compose.test.yml
Due: prettier --write

fix: skip Next.js web build in test Docker container
  infrastructure/docker/Dockerfile.test
Due: none

fix: resolve Nx daemon issues in Docker test build
  infrastructure/docker/Dockerfile.test
Due: none

fix: remove Supabase container from Docker Compose test to avoid port conflicts
  infrastructure/docker/docker-compose.test.yml
Due: prettier --write

fix: remove unnecessary service containers from Docker test environment
  infrastructure/docker/docker-compose.test.yml
Due: prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier --write

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier --write

fix: resolve coverage directory EBUSY error in Docker tests
  infrastructure/docker/Dockerfile.test
  infrastructure/docker/docker-compose.test.yml
Due: prettier --write

fix: resolve timeout in multi-agent orchestration test
  packages/device-agent/src/tests/multi-agent-orchestration.test.ts
Due: eslint --fix, prettier --write

fix: enable MVP mode for test coverage thresholds in CI
  infrastructure/docker/Dockerfile.test
  infrastructure/docker/docker-compose.test.yml
Due: prettier --write

feat: implement Task 1 - Define orchestrator prompts and SDK configuration
  .agent-os/product/roadmap.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/SUMMARY.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/spec-lite.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/spec.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/sub-specs/api-spec.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/sub-specs/env-to-options-mapping.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/sub-specs/safety-policy.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/sub-specs/usage-types.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/typescript-sdk-migration-plan.md
  .claude/commands/comment.md
  docs/Claude-Code-SDK-TypeScript-SDK-reference
  packages/api/src/ai/config/sdk-options.config.ts
  packages/api/src/ai/prompts/network-analysis.prompts.ts
  packages/api/src/ai/tools/network-mcp-tools.ts
  packages/api/src/ai/types/sdk-types.ts
Due: eslint --fix, prettier --write

feat: implement Task 1 - Define orchestrator prompts and SDK configuration
  .agent-os/recaps/2025-09-12-claude-code-sdk-integration.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
Due: prettier --write

fix: resolve tool conflict in createRemediationOptions
  packages/api/src/ai/config/sdk-options.config.ts
Due: eslint --fix, prettier --write

feat: complete Task 2 - Implement TypeScript SDK integration
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
  package-lock.json
  packages/api/package.json
  packages/api/src/ai/services/ai-orchestrator.service.ts
  packages/api/src/ai/services/hitl-permission-handler.service.ts
  packages/api/src/ai/services/message-processor.service.ts
  packages/api/src/config/claude-code.config.ts
  packages/api/src/services/__tests__/claude-code.service.test.ts
  packages/api/src/services/claude-code.service.ts
Due: eslint --fix, prettier --write

fix: await audit insert in HITL approval workflow
  .agent-os/recaps/2025-09-12-claude-code-sdk-integration.md
  packages/api/src/ai/services/hitl-permission-handler.service.ts
Due: eslint --fix, prettier --write

feat: complete Task 3 - Build workflow APIs with SDK streaming
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
  .claude/commands/analyze-product.md
  .claude/commands/create-spec.md
  .claude/commands/create-tasks.md
  .claude/commands/execute-tasks.md
  .claude/commands/plan-product.md
  .github/workflows/test.yml
  packages/api/src/ai/config/sdk-options.config.ts
  packages/api/src/ai/services/ai-orchestrator.service.ts
  packages/api/src/ai/services/hitl-permission-handler.service.ts
  packages/api/src/ai/services/message-processor.service.ts
  packages/api/src/middleware/web-portal-auth.middleware.ts
  packages/api/src/routes/ai.test.ts
  packages/api/src/routes/ai.ts
  packages/api/src/server.ts
  packages/api/src/services/claude-code.service.ts
Due: eslint --fix, prettier --write

fix: forward user prompt to ClaudeCode orchestrator
  packages/api/src/services/claude-code.service.ts
Due: eslint --fix, prettier --write

refactor: optimize AI routes for testing and production
  packages/api/src/routes/ai.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)) or (any of: packages/web/**/*.{ts,tsx,js,jsx})
  cd packages/web && next lint --fix: any of: packages/web/**/*.{ts,tsx,js,jsx}
