Repository hakin19/zen-support: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat(web): implement Device Management page with comprehensive test coverage
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/tasks.md
  packages/web/app/devices/DeviceManagement.test.tsx
  packages/web/app/devices/page.tsx
  packages/web/src/store/device.store.ts
  packages/web/test/setup.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat(web): enhance Device Management with comprehensive fixes and test coverage
  packages/api/src/routes/devices.ts
  packages/web/app/devices/DeviceManagement.test.tsx
  packages/web/app/devices/page.tsx
  packages/web/src/store/device.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

docs: update recap with Device Management implementation details
  .agent-os/instructions/core/post-execution-tasks.md
  .agent-os/recaps/2025-09-17-add-missing-frontend-pages.md
Due: prettier --write

fix: correct DeviceManagement import to use default export
  .agent-os/instructions/core/post-execution-tasks.md
  packages/web/app/devices/DeviceManagement.test.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

chore: remove incorrectly placed recap file
  .agent-os/product/recaps/2025-09-04-task-completion-status.md
  .agent-os/product/recaps/2025-09-17-task-completion-verification.md
Due: prettier --write

feat(web): Add Device Management page with comprehensive test coverage (#37)
  .agent-os/instructions/core/post-execution-tasks.md
  .agent-os/product/recaps/2025-09-04-task-completion-status.md
  .agent-os/product/recaps/2025-09-17-task-completion-verification.md
  .agent-os/recaps/2025-09-17-add-missing-frontend-pages.md
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/tasks.md
  packages/api/src/routes/devices.ts
  packages/web/app/devices/DeviceManagement.test.tsx
  packages/web/app/devices/page.tsx
  packages/web/src/store/device.store.ts
  packages/web/test/setup.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

chore: update agent-os execute tasks instructions
  .agent-os/instructions/core/execute-tasks.md
Due: prettier --write

chore: update git-workflow agent instructions
  .claude/agents/git-workflow.md
Due: prettier --write

Update git-workflow agent with detailed worktree instructions
  .claude/agents/git-workflow.md
Due: prettier --write

Update Agent OS instructions and git-workflow agent
  .agent-os/instructions/core/execute-tasks.md
  .claude/agents/git-workflow.md
Due: prettier --write

feat: update Agent OS and Claude agent configurations
  .agent-os/instructions/core/execute-tasks.md
  .claude/agents/git-workflow.md
Due: prettier --write

feat(web): implement Task 4 - User Administration Basics with comprehensive test coverage
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/tasks.md
  packages/web/app/users/page.test.tsx
  packages/web/app/users/page.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat(web): implement Sessions Queue & Approvals page with comprehensive test coverage
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/tasks.md
  package-lock.json
  packages/web/app/sessions/page.test.tsx
  packages/web/app/sessions/page.tsx
  packages/web/src/store/sessions.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

docs: update recap document with Task 4 completion details
  .agent-os/recaps/2025-09-17-add-missing-frontend-pages.md
Due: prettier --write

fix: add linter fixes for sessions page implementation
  packages/web/app/sessions/page.test.tsx
  packages/web/app/sessions/page.tsx
  packages/web/src/store/sessions.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

docs: update recap with Task 5 completion details
  .agent-os/recaps/2025-09-17-add-missing-frontend-pages.md
Due: prettier --write

Update Agent OS execute-tasks instructions
  .agent-os/instructions/core/execute-tasks.md
Due: prettier --write

feat(web): Task 4 - User Administration Basics with comprehensive test coverage (#38)
  .agent-os/recaps/2025-09-17-add-missing-frontend-pages.md
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/tasks.md
  packages/web/app/users/page.test.tsx
  packages/web/app/users/page.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: critical bug in sessions page role check and lint issues
  packages/api/src/routes/customer-sessions.ts
  packages/web/app/layout.tsx
  packages/web/app/sessions/page.test.tsx
  packages/web/app/sessions/page.tsx
  packages/web/app/users/page.test.tsx
  packages/web/app/users/page.tsx
  packages/web/src/components/providers/AuthProvider.tsx
  packages/web/src/store/sessions.store.test.ts
  packages/web/src/store/sessions.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat(web): Task 6 - Chat Persistence with comprehensive API integration
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/tasks.md
  packages/web/src/store/chat.store.live-updates.test.ts
  packages/web/src/store/chat.store.test.ts
  packages/web/src/store/chat.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

docs: update recap with Task 6 Chat Persistence completion
  .agent-os/recaps/2025-09-17-add-missing-frontend-pages.md
Due: prettier --write

fix: replace temporary streaming messages with server records
  packages/web/src/store/chat.store.test.ts
  packages/web/src/store/chat.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve TypeScript errors in AuthProvider and SettingsPage
  packages/web/src/components/providers/AuthProvider.tsx
  packages/web/src/components/settings/SettingsPage.tsx
  packages/web/src/store/auth.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: simplify sendMessageWithStream to work with actual API response
  packages/web/src/store/chat.store.test.ts
  packages/web/src/store/chat.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat: add device-actions API endpoints for approve/reject
  packages/api/src/routes/device-actions.test.ts
  packages/api/src/routes/device-actions.ts
  packages/api/src/server.ts
Due: eslint --fix, prettier --write

feat: complete Task 7 QA & Documentation for frontend pages MVP
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/tasks.md
  README.md
Due: prettier --write

test: refactor and streamline sessions page tests
  packages/api/src/routes/customer-sessions.test.ts
  packages/api/src/routes/device-websocket.test.ts
  packages/web/app/sessions/page.test.tsx
  packages/web/app/sessions/page.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

chore: add push command shortcut and update sessions page formatting
  .claude/commands/push.md
  packages/web/app/sessions/page.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: establish WebSocket connections for dashboard and devices pages
  .agent-os/product/roadmap.md
  AGENTS.md
  docs/analyze-product-workflow.md
  docs/create-tasks-workflow.md
  docs/plan-product-workflow.md
  docs/spec-creation-workflow.md
  docs/task-execution-workflow.md
  packages/web/app/dashboard/page.tsx
  packages/web/app/devices/DeviceManagement.test.tsx
  packages/web/app/devices/page.tsx
  packages/web/src/store/device.store.ts
  packages/web/src/store/websocket.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve lint and type errors, enhance API logging and dashboard store
  packages/api/src/middleware/web-portal-auth.middleware.ts
  packages/api/src/routes/devices.ts
  packages/api/src/routes/organization.ts
  packages/api/src/routes/users.ts
  packages/api/src/routes/websocket.ts
  packages/web/src/components/providers/AuthProvider.tsx
  packages/web/src/store/dashboard.store.ts
  packages/web/src/store/device.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: apply Prettier formatting to websocket.ts
  packages/api/src/routes/websocket.ts
Due: eslint --fix, prettier --write

fix: resolve AI chat response issues and WebSocket broadcasting
  .claude/agents/wshobson/LICENSE
  .claude/agents/wshobson/README.md
  docs/Claude-Code-SDK-TypeScript-SDK-reference.md
  packages/api/src/ai/config/sdk-options.config.ts
  packages/api/src/ai/services/ai-orchestrator.service.ts
  packages/api/src/config.ts
  packages/api/src/routes/chat.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/services/claude-code.service.ts
  packages/api/test-claude-sdk.mjs
  packages/web/app/chat/page.tsx
  packages/web/src/components/chat/ChatSessionList.tsx
  packages/web/src/components/ui/button.tsx
  packages/web/src/store/chat.store.ts
  packages/web/src/store/websocket.store.test.ts
  packages/web/src/store/websocket.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve lint errors in ai-orchestrator.service.ts
  packages/api/src/ai/services/ai-orchestrator.service.ts
Due: eslint --fix, prettier --write

fix: resolve logout functionality with proper server-side cookie clearing
  docs/supabase-authentication-guide.md
  packages/api/src/middleware/web-portal-auth.middleware.ts
  packages/api/src/routes/chat.ts
  packages/web/app/auth/signout/route.ts
  packages/web/app/chat/ChatPageClient.tsx
  packages/web/app/chat/page.tsx
  packages/web/app/dashboard/DashboardPageClient.tsx
  packages/web/app/dashboard/page.tsx
  packages/web/app/devices/DeviceManagement.test.tsx
  packages/web/app/devices/DeviceManagementPageClient.tsx
  packages/web/app/devices/page.tsx
  packages/web/app/login/page.tsx
  packages/web/app/sessions/SessionsPageClient.tsx
  packages/web/app/sessions/page.test.tsx
  packages/web/app/sessions/page.tsx
  packages/web/app/settings/organization/OrganizationSettingsPageClient.tsx
  packages/web/app/settings/organization/page.integration.test.tsx
  packages/web/app/settings/organization/page.test.tsx
  packages/web/app/settings/organization/page.tsx
  packages/web/app/settings/page.tsx
  packages/web/app/users/UsersPageClient.tsx
  packages/web/app/users/page.test.tsx
  packages/web/app/users/page.tsx
  packages/web/middleware.ts
  packages/web/src/components/auth/LogoutButton.tsx
  packages/web/src/components/chat/ChatSessionList.tsx
  packages/web/src/components/layout/AppLayout.tsx
  packages/web/src/components/layout/Sidebar.test.tsx
  packages/web/src/components/layout/Sidebar.tsx
  packages/web/src/components/providers/AuthProvider.tsx
  packages/web/src/lib/auth/require-server-user.ts
  packages/web/src/lib/auth/types.ts
  packages/web/src/lib/supabase/server.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix(web): remove chat test button
  .lintstagedrc.json
  packages/web/src/components/chat/ChatSessionList.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve dashboard hanging issue with Supabase auth
  CLAUDE.md
  package.json
  packages/api/src/middleware/web-portal-auth.middleware.ts
  packages/api/src/routes/devices.ts
  packages/api/src/routes/organization.ts
  packages/api/src/server.ts
  packages/shared/src/utils/supabase-client.ts
  packages/web/app/dashboard/DashboardPageClient.tsx
  packages/web/src/components/providers/ApiClientProvider.tsx
  packages/web/src/lib/api-client.ts
  packages/web/src/store/dashboard.store.ts
  packages/web/src/store/websocket.store.ts
  supabase/migrations/2025011900001_fix_user_management_view.sql
  supabase/migrations/2025011900002_create_firmware_updates_table.sql
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)) or (any of: packages/web/**/*.{ts,tsx,js,jsx})
  cd packages/web && next lint --fix: any of: packages/web/**/*.{ts,tsx,js,jsx}
