Repository hakin19/zen-support: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd packages/web && next lint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"],
  "packages/web/**/*.{ts,tsx,js,jsx}": ["cd packages/web && next lint --fix", "prettier --write"]
}

chore: format docs
  .agent-os/instructions/core/analyze-product.md
  .agent-os/instructions/core/create-spec.md
  .agent-os/instructions/core/create-tasks.md
  .agent-os/instructions/core/execute-task.md
  .agent-os/instructions/core/execute-tasks.md
  .agent-os/instructions/core/plan-product.md
  .agent-os/instructions/core/post-execution-tasks.md
  .agent-os/instructions/meta/post-flight.md
  .agent-os/product/mission-lite.md
  .agent-os/recaps/2025-09-07-customer-web-portal.md
  .agent-os/specs/2025-09-02-device-agent-emulation/spec-lite.md
  .agent-os/specs/2025-09-02-device-agent-emulation/sub-specs/api-spec.md
  .agent-os/standards/best-practices.md
  .agent-os/standards/code-style.md
  .agent-os/standards/code-style/html-style.md
  .claude/commands/comment.md
  .github/workflows/claude-dispatch.yml
  docker-compose.multi-agent.yml
  docs/OWNER_USER_SETUP.md
  docs/README.md
  docs/testing-coverage.md
  infrastructure/docker/docker-compose.ssl.yml
  infrastructure/docker/traefik-dynamic.yml
  packages/api/src/scripts/README.md
  packages/web/app/globals.css
  packages/web/public/manifest.json
Due: prettier --write

feat(api): device WS disconnect broadcast; add dev mock command endpoint; add device WS tests (X-Device-Session, heartbeat_ack, claim_command, command_result, disconnect broadcast)
  packages/api/src/routes/__tests__/device-websocket.test.ts
  packages/api/src/routes/dev.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/server.ts
Due: eslint --fix, prettier --write

feat: implement WebSocket communication for device agents
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/tasks.md
  packages/api/src/routes/chat.ts
  packages/api/src/routes/dev-helpers.ts
  packages/api/src/routes/device-websocket.test.ts
  packages/api/src/server.ts
Due: eslint --fix, prettier --write

docs: update recap with completed WebSocket communication implementation
  .agent-os/recaps/2025-09-09-device-agent-local-bootstrap.md
Due: prettier --write

chore: format docs and config files
  .agent-os/instructions/core/analyze-product.md
  .agent-os/instructions/core/create-spec.md
  .agent-os/instructions/core/create-tasks.md
  .agent-os/instructions/core/execute-task.md
  .agent-os/instructions/core/execute-tasks.md
  .agent-os/instructions/core/plan-product.md
  .agent-os/instructions/core/post-execution-tasks.md
  .agent-os/instructions/meta/post-flight.md
  .agent-os/product/mission-lite.md
  .agent-os/recaps/2025-09-07-customer-web-portal.md
  .agent-os/specs/2025-09-02-device-agent-emulation/spec-lite.md
  .agent-os/specs/2025-09-02-device-agent-emulation/sub-specs/api-spec.md
  .agent-os/standards/best-practices.md
  .agent-os/standards/code-style.md
  .agent-os/standards/code-style/html-style.md
  .claude/commands/comment.md
  .github/workflows/claude-dispatch.yml
  docker-compose.multi-agent.yml
  docs/OWNER_USER_SETUP.md
  docs/README.md
  docs/testing-coverage.md
  infrastructure/docker/docker-compose.ssl.yml
  infrastructure/docker/traefik-dynamic.yml
  packages/api/src/scripts/README.md
  packages/web/app/globals.css
  packages/web/public/manifest.json
Due: prettier --write

fix: correct Redis mock to use setEx instead of set in device WebSocket test
  packages/api/src/routes/device-websocket.test.ts
Due: eslint --fix, prettier --write

feat: complete device agent container build and WebSocket implementation
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/recap-task-4.md
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/tasks.md
  CLAUDE.md
  docker-compose.device-agent.yml
  package-lock.json
  packages/device-agent/.env.example
  packages/device-agent/Dockerfile
  packages/device-agent/Dockerfile.prod
  packages/device-agent/README-DOCKER.md
  packages/device-agent/package.json
  packages/device-agent/src/api/api-client.test.ts
  packages/device-agent/src/api/api-client.ts
  packages/device-agent/src/api/device-auth.test.ts
  packages/device-agent/src/api/types.ts
  packages/device-agent/src/api/websocket-client.ts
  packages/device-agent/src/command/command-queue.ts
  packages/device-agent/src/config.ts
  packages/device-agent/src/device-agent.ts
  packages/device-agent/src/diagnostics/diagnostic-executor.ts
  packages/device-agent/src/types.ts
  packages/device-agent/src/utils/mock-device-simulator.ts
  packages/device-agent/test/device-agent.test.ts
Due: eslint --fix, prettier --write

feat: complete device agent container build and WebSocket implementation (#22)
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/recap-task-4.md
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/tasks.md
  CLAUDE.md
  docker-compose.device-agent.yml
  package-lock.json
  packages/device-agent/.env.example
  packages/device-agent/Dockerfile
  packages/device-agent/Dockerfile.prod
  packages/device-agent/README-DOCKER.md
  packages/device-agent/package.json
  packages/device-agent/src/api/api-client.test.ts
  packages/device-agent/src/api/api-client.ts
  packages/device-agent/src/api/device-auth.test.ts
  packages/device-agent/src/api/types.ts
  packages/device-agent/src/api/websocket-client.ts
  packages/device-agent/src/command/command-queue.ts
  packages/device-agent/src/config.ts
  packages/device-agent/src/device-agent.ts
  packages/device-agent/src/diagnostics/diagnostic-executor.ts
  packages/device-agent/src/types.ts
  packages/device-agent/src/utils/mock-device-simulator.ts
  packages/device-agent/test/device-agent.test.ts
Due: eslint --fix, prettier --write

fix: critical WebSocket reconnection bug preventing retry attempts
  packages/device-agent/src/api/websocket-client.ts
Due: eslint --fix, prettier --write

feat: complete device agent local bootstrap implementation
  .env.local.example
  .gemini/settings.json
  GEMINI.md
  docker-compose.yml
  docs/LOCAL_SETUP.md
  packages/api/src/integration-tests/device-e2e.integration.test.ts
  packages/api/src/middleware/web-portal-auth.middleware.ts
  packages/api/src/routes/organization.ts
  packages/api/src/routes/prompts.ts
  packages/api/src/routes/users.ts
  packages/web/src/components/devices/DeviceStatusIndicator.test.tsx
  packages/web/src/components/devices/DeviceStatusIndicator.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

debug: extensive investigation of Supabase client returning undefined
  packages/api/src/integration-tests/device-e2e.integration.test.ts
  packages/api/src/routes/device-auth.ts
  packages/api/src/routes/organization.ts
  packages/api/src/routes/users.ts
  packages/api/src/server.ts
  packages/api/src/services/device-auth.service.ts
  packages/api/test-auth-direct.mjs
  packages/api/test-redis.mjs
  packages/device-agent/src/index.ts
  packages/shared/src/utils/redis-client.ts
  packages/shared/src/utils/supabase-client.ts
  test-supabase-direct.js
  test-supabase-direct.mjs
Due: eslint --fix, prettier --write

fix: resolve Supabase client returning undefined in integration tests
  .env.test
  package-lock.json
  package.json
  packages/api/src/integration-tests/device-e2e.integration.test.ts
  test/setup.integration.ts
  vitest.config.integration.ts
Due: eslint --fix, prettier --write

fix(api): satisfy ESLint template literal restrictions in device-auth.service\n\n- Use String(error) for debug logging to avoid unknown type in template literals.
  .env.test
  package-lock.json
  package.json
  packages/api/src/middleware/device-auth.middleware.ts
  packages/api/src/routes/device-auth.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/services/device-auth.service.ts
  packages/api/src/services/session.service.ts
  test/setup.ts
Due: eslint --fix, prettier --write

test: add integration test setup and configuration
  .env.test
  package.json
  packages/api/src/middleware/device-auth.middleware.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/services/device-auth.service.ts
  packages/api/src/services/session.service.ts
  test/setup.integration.ts
  vitest.config.integration.ts
Due: eslint --fix, prettier --write

docs(recaps): update device agent local bootstrap recap with E2E fixes and device command endpoints
  .agent-os/recaps/2025-09-09-device-agent-local-bootstrap.md
  packages/api/src/integration-tests/device-e2e.integration.test.ts
  packages/api/src/routes/device-auth.ts
  packages/api/src/routes/device-commands.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/services/device-auth.service.ts
  packages/device-agent/src/device-agent.ts
  packages/device-agent/src/types.ts
Due: eslint --fix, prettier --write

fix(web): stabilize websocket-client unit tests (constructor arity, state-based isConnected, default decay)
  packages/web/src/lib/websocket-client.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

test(web): run web tests under happy-dom with DOM polyfills; add '@' alias; wire setup in root vitest config
  packages/web/test/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

test(api,web,agent): stabilize unit tests and DOM env; adjust heartbeat auth order; dynamic visibility check import; websocket auth message; soften unhandled rejections
  packages/api/src/middleware/device-auth.middleware.ts
  packages/api/src/routes/device-auth.ts
  packages/api/src/routes/device-websocket.test.ts
  packages/api/src/server.ts
  packages/device-agent/src/device-agent.ts
  packages/web/src/lib/websocket-client.ts
  test/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

test(web): stabilize UserManagement tests (api export, testids, status text, total fallback, test-mode refetch); mock websocket store in web test setup
  packages/web/src/components/settings/UserManagement.tsx
  packages/web/test/setup.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix(web): align UserManagement UI with tests (role/status labels, aria labels, table aria, invite button aria)
  packages/web/src/components/settings/UserManagement.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

refactor(device-agent): improve stop/cleanup architecture and heartbeat resilience
  packages/api/src/integration-tests/device-e2e.integration.test.ts
  packages/device-agent/src/device-agent.ts
  packages/web/src/components/settings/UserManagement.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: auto-fix ESLint formatting issues
  packages/device-agent/src/device-agent.ts
  packages/web/src/components/settings/UserManagement.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix(api): satisfy eslint rules for refreshSession typing and call safety in device auth middleware
  packages/api/src/middleware/device-auth.middleware.ts
  packages/api/src/routes/device-auth.ts
  packages/device-agent/src/api/api-client.test.ts
  packages/device-agent/src/index.ts
  packages/web/src/lib/websocket-client.ts
  test/setup.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve TypeScript and ESLint errors across all packages
  packages/api/src/routes/chat.ts
  packages/api/src/routes/customer-devices.ts
  packages/api/src/routes/device-commands.ts
  packages/api/src/routes/users.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/server.ts
  packages/api/src/services/device-auth.service.ts
  packages/device-agent/src/device-agent.ts
  packages/device-agent/src/types.ts
  packages/shared/src/index.ts
  packages/shared/src/utils/supabase-client.ts
  supabase/migrations/202509110001_add_device_registered_at_indexes.sql
Due: eslint --fix, prettier --write

fix: add ESLint disable comment for async plugin function without await
  packages/api/src/routes/organization.ts
Due: eslint --fix, prettier --write

fix: resolve all TypeScript and ESLint errors across monorepo
  packages/device-agent/src/api/api-client.ts
  packages/device-agent/src/api/types.ts
  packages/device-agent/src/api/websocket-client.ts
  packages/device-agent/src/command/command-queue.ts
  packages/web/eslint.config.js
  packages/web/src/components/devices/DeviceStatusIndicator.tsx
  packages/web/src/components/settings/OrganizationSettings.tsx
  packages/web/src/components/settings/PromptTemplateEditor.tsx
  packages/web/src/components/settings/SettingsPage.tsx
  packages/web/src/components/settings/UserManagement.tsx
  packages/web/src/components/ui/label.tsx
  packages/web/src/components/ui/scroll-area.tsx
  packages/web/src/components/ui/select.tsx
  packages/web/src/components/ui/separator.tsx
  packages/web/src/store/chat.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

docs: add Supabase migration history sync notes (duplicates, renames, remote repair)
  docs/supabase-migrations-memory.md
Due: prettier --write

fix: resolve all TypeScript and ESLint errors across entire monorepo
  package-lock.json
  packages/api/src/routes/chat.ts
  packages/api/src/routes/customer-devices.ts
  packages/api/src/routes/customer-sessions.ts
  packages/api/src/routes/devices.ts
  packages/api/src/routes/organization.ts
  packages/api/src/scripts/seed-test-device.ts
  packages/device-agent/src/api/websocket-client.ts
  packages/web/app/chat/page.tsx
  packages/web/middleware.ts
  packages/web/package.json
  packages/web/src/components/auth/ProtectedRoute.test.tsx
  packages/web/src/components/auth/ProtectedRoute.tsx
  packages/web/src/components/chat/ChatInput.test.tsx
  packages/web/src/components/chat/ChatInput.tsx
  packages/web/src/components/chat/ChatMessage.test.tsx
  packages/web/src/components/chat/ChatMessage.tsx
  packages/web/src/components/chat/ChatPage.test.tsx
  packages/web/src/components/chat/ChatSessionList.test.tsx
  packages/web/src/components/chat/ChatSessionList.tsx
  packages/web/src/components/chat/DeviceActionModal.test.tsx
  packages/web/src/components/chat/DeviceActionModal.tsx
  packages/web/src/components/chat/MessageList.test.tsx
  packages/web/src/components/devices/DeviceStatusIndicator.test.tsx
  packages/web/src/components/settings/DeviceRegistration.test.tsx
  packages/web/src/components/settings/DeviceRegistration.tsx
  packages/web/src/components/settings/OrganizationSettings.test.tsx
  packages/web/src/components/settings/OrganizationSettings.tsx
  packages/web/src/components/settings/PromptTemplateEditor.test.tsx
  packages/web/src/components/settings/PromptTemplateEditor.tsx
  packages/web/src/components/settings/SettingsPage.test.tsx
  packages/web/src/components/settings/UserManagement.test.tsx
  packages/web/src/lib/api-client.ts
  packages/web/src/store/chat.store.test.ts
  packages/web/src/store/chat.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve final ESLint error in websocket-client
  packages/device-agent/src/api/websocket-client.ts
Due: eslint --fix, prettier --write

fix: resolve all TypeScript and ESLint errors across entire monorepo
  packages/api/src/routes/organization.ts
  packages/api/src/scripts/seed-test-device.ts
  packages/web/src/components/chat/MessageList.tsx
  packages/web/src/components/settings/DeviceRegistration.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve TypeScript errors in test files
  packages/web/src/components/layout/Sidebar.test.tsx
  packages/web/src/components/settings/PromptTemplateEditor.test.tsx
  packages/web/src/components/settings/UserManagement.test.tsx
  packages/web/src/lib/__tests__/websocket-client.test.ts
  packages/web/src/store/app.store.test.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve major test failures in web package
  packages/web/src/components/auth/ProtectedRoute.test.tsx
  packages/web/src/components/devices/DeviceStatusIndicator.test.tsx
  packages/web/src/components/settings/DeviceRegistration.test.tsx
  packages/web/src/components/settings/OrganizationSettings.test.tsx
  packages/web/src/components/settings/PromptTemplateEditor.test.tsx
  packages/web/src/components/settings/SettingsPage.test.tsx
  packages/web/src/components/settings/UserManagement.test.tsx
  packages/web/test/setup.ts
  packages/web/test/test-utils.tsx
  packages/web/tsconfig.json
  packages/web/vitest-env.d.ts
  packages/web/vitest.config.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve remaining TypeScript errors in test files
  packages/web/src/components/auth/ProtectedRoute.test.tsx
  packages/web/src/components/settings/DeviceRegistration.test.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: skip ProtectedRoute tests temporarily to fix TypeScript errors
  packages/web/src/components/auth/ProtectedRoute.test.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: suppress TypeScript errors in skipped ProtectedRoute tests
  packages/web/src/components/auth/ProtectedRoute.test.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: correct clipboard API mocking in test setup
  packages/web/test/setup.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: correct clipboard API mocking in test-utils
  packages/web/test/test-utils.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat: complete test suite fixes and MVP mode implementation
  .env.example
  .env.test
  .env.test.example
  .github/workflows/test.yml
  .husky/pre-push
  README.md
  package.json
  packages/web/src/components/layout/Sidebar.test.tsx
  packages/web/src/components/settings/DeviceRegistration.test.tsx
  packages/web/src/components/settings/OrganizationSettings.test.tsx
  packages/web/src/components/settings/OrganizationSettings.tsx
  packages/web/src/components/settings/PromptTemplateEditor.test.tsx
  packages/web/src/components/settings/PromptTemplateEditor.tsx
  packages/web/src/components/settings/SettingsPage.test.tsx
  packages/web/src/components/settings/UserManagement.test.tsx
  packages/web/src/components/settings/UserManagement.tsx
  packages/web/test/setup.ts
  pte-suite.json
  scripts/quality-gates.ts
  test/setup.ts
  um-tests.json
  vitest-results.json
  vitest.config.ts
  web-full-after.json
  web-full-run.json
  web-full.json
  web-mvp-final.json
  web-mvp-final2.json
  web-mvp-final3.json
  web-mvp-final4.json
  web-mvp-final5.json
  web-mvp-run.json
  web-tests-2.json
  web-tests.json
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve ESLint errors blocking push
  packages/web/src/components/settings/PromptTemplateEditor.tsx
  packages/web/src/components/settings/UserManagement.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve TypeScript compilation errors
  packages/web/src/components/settings/DeviceRegistration.test.tsx
  packages/web/src/components/settings/OrganizationSettings.test.tsx
  packages/web/src/components/settings/PromptTemplateEditor.test.tsx
  packages/web/src/components/settings/UserManagement.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix
