Repository hakin19/zen-support: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd packages/web && next lint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"],
  "packages/web/**/*.{ts,tsx,js,jsx}": ["cd packages/web && next lint --fix", "prettier --write"]
}

docs: update recap document with Task 3 completion
  .agent-os/recaps/2025-09-12-claude-code-sdk-integration.md
Due: prettier --write

fix: critical HITL permission handler and SSE protocol issues
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
  .env.example
  .env.test
  docs/HITL-DEPLOYMENT-GUIDE.md
  package-lock.json
  package.json
  packages/api/src/ai/config/sdk-options.config.ts
  packages/api/src/ai/services/ai-orchestrator.service.ts
  packages/api/src/ai/services/hitl-permission-handler.service.ts
  packages/api/src/ai/services/hitl-permission-handler.test.ts
  packages/api/src/ai/services/message-processor.service.ts
  packages/api/src/ai/tools/network-mcp-tools.ts
  packages/api/src/config.ts
  packages/api/src/routes/SSE_PROTOCOL.md
  packages/api/src/routes/ai.test.ts
  packages/api/src/routes/ai.ts
  packages/api/src/server.ts
  packages/api/src/services/claude-code.service.ts
  packages/api/src/types/ai-routes.types.ts
  packages/api/src/utils/pii-sanitizer.ts
  supabase/migrations/2025091500001_add_hitl_approval_tables.sql
  supabase/migrations/2025091500002_strengthen_hitl_rls_policies.sql
  supabase/migrations/2025091500003_fix_approval_policies_schema.sql
Due: eslint --fix, prettier --write

fix: resolve majority of linting errors across codebase
  .agent-os/recaps/2025-09-12-claude-code-sdk-integration.md
  packages/api/package.json
  packages/api/src/ai/services/ai-orchestrator.service.ts
  packages/api/src/ai/services/hitl-permission-handler.service.ts
  packages/api/src/ai/tools/network-mcp-tools.ts
  packages/api/src/routes/ai.ts
  packages/api/src/services/claude-code.service.ts
  packages/api/src/types/ai-routes.types.ts
  packages/api/src/utils/pii-sanitizer.ts
Due: eslint --fix, prettier --write

fix: resolve all linting errors and test failures
  packages/api/src/ai/services/hitl-permission-handler.test.ts
  packages/api/src/routes/ai.ts
  packages/web/src/components/settings/DeviceRegistration.tsx
  packages/web/src/components/settings/OrganizationSettings.tsx
  packages/web/src/components/settings/SettingsPage.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: honor requiresApproval: false policies in HITL permission handler
  packages/api/src/ai/services/hitl-permission-handler.service.ts
Due: eslint --fix, prettier --write

fix: resolve all TypeScript and linting errors
  packages/api/src/ai/services/ai-orchestrator.service.ts
  packages/api/src/ai/services/hitl-permission-handler.service.ts
  packages/api/src/routes/ai.ts
  packages/api/src/services/claude-code.service.ts
  packages/api/src/utils/pii-sanitizer.ts
  packages/web/src/components/settings/OrganizationSettings.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

test: fix AI routes tests by adding closeAllConnections mock
  packages/api/src/routes/ai.test.ts
Due: eslint --fix, prettier --write

fix: resolve all test failures and linting issues
  packages/api/src/integration-tests/device-e2e.integration.test.ts
  packages/api/src/routes/ai.ts
Due: eslint --fix, prettier --write

fix: resolve SettingsPage test for pending invitations badge
  packages/web/src/components/settings/SettingsPage.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: prevent unhandled promise rejections in HITL permission handler
  packages/api/src/ai/services/hitl-permission-handler.service.ts
Due: eslint --fix, prettier --write

feat: implement Claude Code SDK MCP tools for network operations
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
  packages/api/src/ai/config/sdk-options.config.ts
  packages/api/src/ai/tools/network-mcp-server.test.ts
  packages/api/src/ai/tools/network-mcp-server.ts
Due: eslint --fix, prettier --write

docs: update recap with Task 5 MCP tool implementation completion
  .agent-os/recaps/2025-09-12-claude-code-sdk-integration.md
Due: prettier --write

fix: resolve ESLint errors in network MCP server
  packages/api/src/ai/tools/network-mcp-server.ts
Due: eslint --fix, prettier --write

fix: wire MCP server configuration to enable network tools
  packages/api/src/ai/config/sdk-options.config.ts
Due: eslint --fix, prettier --write

refactor: consolidate CallToolResult type to prevent drift
  packages/api/src/ai/tools/network-mcp-server.ts
  packages/api/src/ai/types/sdk-types.ts
Due: eslint --fix, prettier --write

chore: clean up outdated TODO comments
  packages/api/src/ai/config/sdk-options.config.ts
  packages/api/src/ai/tools/network-mcp-tools.ts
Due: eslint --fix, prettier --write

feat: implement Task 6 SDK safety controls with PII sanitization and permission policies
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
  .claude/commands/background.md
  .claude/commands/feedback.md
  packages/api/src/ai/config/sdk-options.config.test.ts
  packages/api/src/ai/schemas/approval-message-validation.test.ts
  packages/api/src/ai/schemas/manifest.schema.test.ts
  packages/api/src/ai/schemas/manifest.schema.ts
  packages/api/src/ai/schemas/sdk-message-validation.test.ts
  packages/api/src/ai/schemas/sdk-message-validation.ts
  packages/api/src/ai/services/abort-signal-handling.test.ts
  packages/api/src/ai/services/ai-orchestrator.service.test.ts
  packages/api/src/ai/services/ai-orchestrator.service.ts
  packages/api/src/ai/services/hitl-permission-handler-policy.test.ts
  packages/api/src/ai/services/hitl-permission-handler.service.ts
  packages/api/src/ai/services/hitl-permission-handler.test.ts
  packages/api/src/ai/services/message-processor.service.ts
  packages/api/src/ai/services/permission-denial-audit.test.ts
  packages/api/src/ai/tools/network-mcp-server.ts
  packages/api/src/ai/tools/network-mcp-tools.ts
  packages/api/src/ai/types/sdk-types.ts
  packages/api/src/routes/ai.ts
  packages/api/src/services/claude-code.service.ts
  packages/api/src/utils/pii-sanitizer.ts
  supabase/migrations/2025091600001_add_remediation_scripts_table.sql
Due: eslint --fix, prettier --write

docs: update recap with Task 6 completion and post-execution steps
  .agent-os/recaps/2025-09-12-claude-code-sdk-integration.md
Due: prettier --write

fix: update imports after removing sdk-types.ts
  packages/api/src/ai/tools/network-mcp-server.ts
  packages/api/src/ai/tools/network-mcp-tools.ts
Due: eslint --fix, prettier --write

fix: P1 - Script approvals not updating via WebSocket
  packages/api/src/routes/ai.ts
Due: eslint --fix, prettier --write

fix: Migration error - add missing update_updated_at_column function
  supabase/migrations/2025091600001_add_remediation_scripts_table.sql
Due: none

feat: Complete Task 7 - execution handoff to device agent with script packaging and signing
  packages/api/package.json
  packages/api/src/ai/services/script-execution-orchestrator.test.ts
  packages/api/src/ai/services/script-execution-orchestrator.ts
  packages/api/src/ai/services/script-execution.service.test.ts
  packages/api/src/ai/services/script-execution.service.ts
  packages/api/src/ai/services/script-packager.service.test.ts
  packages/api/src/ai/services/script-packager.service.ts
Due: eslint --fix, prettier --write

docs: update Task 7 completion status and recap
  .agent-os/recaps/2025-09-12-claude-code-sdk-integration.md
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
  package-lock.json
Due: prettier --write

fix: resolve ESLint errors and add persistent key management
  packages/api/src/ai/services/key-manager.service.test.ts
  packages/api/src/ai/services/key-manager.service.ts
  packages/api/src/ai/services/script-execution.service.ts
  packages/api/src/ai/services/script-packager.service.test.ts
  packages/api/src/ai/services/script-packager.service.ts
Due: eslint --fix, prettier --write

feat(api): audit permission denials and wire SDK audit callback; fix KeyManager prod behavior; add cancellation semantics; broaden PII sanitization
  package-lock.json
  packages/api/package.json
  packages/api/src/ai/config/sdk-options.config.ts
  packages/api/src/ai/services/hitl-permission-handler.service.ts
  packages/api/src/ai/services/key-manager.service.test.ts
  packages/api/src/ai/services/key-manager.service.ts
  packages/api/src/ai/services/script-execution-orchestrator.ts
  packages/api/src/ai/services/script-execution.service.test.ts
  packages/api/src/ai/services/script-execution.service.ts
  packages/api/src/ai/services/script-packager.service.test.ts
  packages/api/src/ai/services/script-packager.service.ts
  packages/api/src/routes/ai.ts
  packages/api/src/utils/pii-sanitizer.ts
  packages/device-agent/src/api/api-client.ts
  packages/device-agent/src/device-agent.ts
  packages/device-agent/src/script-executor.ts
  packages/shared/src/types/database.generated.ts
  supabase/migrations/2025091600002_fix_remediation_scripts_schema.sql
  supabase/migrations/2025091600003_add_cancelled_status.sql
  supabase/migrations/2025091600004_fix_cancellation_semantics.sql
Due: eslint --fix, prettier --write

chore(type): use admin Supabase client to relax table typing; re-add SDK message UUID; fix device-agent type guards
  packages/api/src/ai/config/sdk-options.config.ts
  packages/api/src/ai/services/script-execution-orchestrator.ts
  packages/api/src/ai/services/script-execution.service.ts
  packages/device-agent/src/device-agent.ts
Due: eslint --fix, prettier --write

chore(lint): address remaining Prettier/import-order and unsafe destructuring; remove unused directives
  packages/api/src/ai/services/script-execution-orchestrator.ts
  packages/api/src/ai/services/script-execution.service.ts
  packages/device-agent/src/device-agent.ts
Due: eslint --fix, prettier --write

test: fix mocking issues in script execution tests
  packages/api/src/ai/services/script-execution-orchestrator.test.ts
  packages/api/src/ai/services/script-execution.service.test.ts
Due: eslint --fix, prettier --write

fix: resolve module resolution issues in permission-denial-audit tests
  packages/api/src/ai/services/hitl-permission-handler.service.ts
  packages/api/src/ai/services/permission-denial-audit.test.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

feat: complete Task 8 - comprehensive observability and documentation for Claude Code SDK integration
  .agent-os/specs/2025-09-12-claude-code-sdk-integration/tasks.md
  packages/api/src/ai/docs/api-key-runbook.md
  packages/api/src/ai/docs/sdk-api-reference.md
  packages/api/src/ai/docs/sdk-integration-guide.md
  packages/api/src/ai/services/ai-orchestrator.service.ts
  packages/api/src/ai/services/script-execution-orchestrator.test.ts
  packages/api/src/ai/services/script-execution.service.test.ts
  packages/api/src/ai/services/sdk-message-tracker.service.test.ts
  packages/api/src/ai/services/sdk-message-tracker.service.ts
  packages/api/src/ai/services/sdk-metrics.service.test.ts
  packages/api/src/ai/services/sdk-metrics.service.ts
  packages/api/src/routes/ai-metrics.ts
Due: eslint --fix, prettier --write

fix: correct SDK metrics service test API mismatches
  .agent-os/product/roadmap.md
  .agent-os/recaps/2025-09-12-claude-code-sdk-integration.md
  packages/api/src/ai/services/sdk-metrics.service.test.ts
Due: eslint --fix, prettier --write

fix: comprehensive fixes for SDK metrics and integration
  .env.example
  packages/api/src/ai/docs/sdk-api-reference.md
  packages/api/src/ai/services/ai-orchestrator.service.ts
  packages/api/src/ai/services/sdk-message-tracker.service.test.ts
  packages/api/src/ai/services/sdk-message-tracker.service.ts
  packages/api/src/ai/services/sdk-metrics.service.test.ts
  packages/api/src/ai/services/sdk-metrics.service.ts
  packages/api/src/config.ts
  packages/api/src/middleware/internal-auth.middleware.ts
  packages/api/src/routes/ai-metrics.test.ts
  packages/api/src/routes/ai-metrics.ts
  packages/api/src/routes/ai.test.ts
  packages/api/src/routes/ai.ts
  packages/api/src/server.ts
  packages/api/src/types/ai-routes.types.ts
Due: eslint --fix, prettier --write

fix: correct Usage import to ModelUsage in sdk-message-tracker
  packages/api/src/ai/services/sdk-message-tracker.service.ts
Due: eslint --fix, prettier --write

fix: update environment configuration and service initialization
  .agent-os/product/roadmap.md
  .env.example
  .env.local.example
  package-lock.json
  packages/api/src/index.ts
  packages/api/src/services/device-auth.service.ts
  packages/api/src/services/supabase.ts
  packages/device-agent/src/index.ts
Due: eslint --fix, prettier --write

feat(web): complete dashboard essentials
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/tasks.md
  packages/api/src/config.ts
  packages/api/src/server.ts
  packages/web/app/dashboard/DashboardOverview.test.tsx
  packages/web/app/dashboard/DashboardOverview.tsx
  packages/web/app/dashboard/page.tsx
  packages/web/app/dashboard/useDashboardLiveRefresh.test.ts
  packages/web/app/dashboard/useDashboardLiveRefresh.ts
  packages/web/next.config.js
  packages/web/src/components/layout/Sidebar.test.tsx
  packages/web/src/components/layout/Sidebar.tsx
  packages/web/src/store/dashboard.store.test.ts
  packages/web/src/store/dashboard.store.ts
  packages/web/test/setup.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat(web): complete dashboard essentials (#35)
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/tasks.md
  packages/api/src/config.ts
  packages/api/src/server.ts
  packages/web/app/dashboard/DashboardOverview.test.tsx
  packages/web/app/dashboard/DashboardOverview.tsx
  packages/web/app/dashboard/page.tsx
  packages/web/app/dashboard/useDashboardLiveRefresh.test.ts
  packages/web/app/dashboard/useDashboardLiveRefresh.ts
  packages/web/next.config.js
  packages/web/src/components/layout/Sidebar.test.tsx
  packages/web/src/components/layout/Sidebar.tsx
  packages/web/src/store/dashboard.store.test.ts
  packages/web/src/store/dashboard.store.ts
  packages/web/test/setup.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

docs: add dashboard MVP spec and documentation files
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/spec-lite.md
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/spec.md
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/sub-specs/api-spec.md
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/sub-specs/technical-spec.md
Due: prettier --write

fix: correct dashboard user metrics to use API total counts instead of page length
  packages/web/src/store/dashboard.store.test.ts
  packages/web/src/store/dashboard.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat(web): implement Organization Settings MVP with comprehensive auth and validation
  .agent-os/specs/2025-09-17-add-missing-frontend-pages/tasks.md
  packages/web/app/settings/organization/page.integration.test.tsx
  packages/web/app/settings/organization/page.test.tsx
  packages/web/app/settings/organization/page.tsx
  packages/web/src/components/settings/UserManagement.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat: add task completion verification and product roadmap updates
  .agent-os/product/recaps/2025-09-17-task-completion-verification.md
  .agent-os/product/roadmap.md
  .agent-os/recaps/2025-09-17-add-missing-frontend-pages.md
Due: prettier --write
