Repository hakin19/zen-support: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd packages/web && next lint --fix

refactor: improve WebSocket subscription handling and type safety
  packages/api/src/routes/websocket.ts
  packages/api/src/utils/redis-pubsub.ts
Due: eslint --fix, prettier --write

fix: update WebSocket route handler signatures for Fastify compatibility
  packages/api/src/routes/websocket.ts
Due: eslint --fix, prettier --write

feat: optimize WebSocket subscriptions with multi-channel support
  packages/api/src/routes/websocket.test.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/services/websocket-connection-manager.ts
  packages/api/src/utils/redis-pubsub.ts
  packages/shared/src/utils/redis-client.ts
Due: eslint --fix, prettier --write

refactor: improve websocket type safety
  packages/api/src/routes/websocket.ts
  packages/api/src/services/websocket-connection-manager.ts
  packages/shared/src/utils/redis-client.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript, ESLint, and test failures across monorepo
  packages/api/src/routes/websocket.ts
  packages/api/src/server.test.ts
  packages/api/src/services/websocket-connection-manager.ts
  packages/api/test/setup.ts
  packages/device-agent/src/diagnostics/result-formatter.ts
  packages/device-agent/src/utils/device-id-generator.ts
  packages/shared/src/utils/redis-client.test.ts
  packages/shared/src/utils/redis-client.ts
  packages/shared/src/utils/supabase-client.ts
  test/setup.ts
Due: eslint --fix, prettier --write

feat: integrate Claude Code SDK for AI-powered network diagnostics
  .agent-os/specs/2025-09-07-customer-web-portal/spec-lite.md
  .agent-os/specs/2025-09-07-customer-web-portal/spec.md
  .agent-os/specs/2025-09-07-customer-web-portal/sub-specs/api-spec.md
  .agent-os/specs/2025-09-07-customer-web-portal/sub-specs/database-schema.md
  .agent-os/specs/2025-09-07-customer-web-portal/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-07-customer-web-portal/tasks.md
  .env.example
  package-lock.json
  packages/api/package.json
  packages/api/src/config/claude-code.config.ts
  packages/api/src/config/prompt-templates.ts
  packages/api/src/services/__tests__/claude-code.service.test.ts
  packages/api/src/services/claude-code.service.ts
Due: eslint --fix, prettier --write

fix: update Claude Code service tests to match CLIMessage structure
  packages/api/src/services/__tests__/claude-code.service.test.ts
  packages/api/src/services/claude-code.service.ts
Due: eslint --fix, prettier --write

docs: mark Task 1 as complete in Customer Web Portal spec
  .agent-os/specs/2025-09-07-customer-web-portal/tasks.md
Due: prettier --write

feat: implement database schema and authentication for web portal
  .agent-os/specs/2025-09-07-customer-web-portal/tasks.md
  packages/api/src/middleware/web-portal-auth.middleware.test.ts
  packages/api/src/middleware/web-portal-auth.middleware.ts
  packages/api/src/services/__tests__/web-portal-database.test.ts
  packages/shared/src/types/database.generated.ts
  supabase/migrations/005_web_portal_user_roles.sql
  supabase/migrations/006_web_portal_chat_tables.sql
  supabase/migrations/007_web_portal_ai_device_tables.sql
  supabase/migrations/008_web_portal_rls_policies.sql
Due: eslint --fix, prettier --write

fix: resolve TypeScript type issues in auth middleware
  packages/api/src/middleware/web-portal-auth.middleware.ts
Due: eslint --fix, prettier --write

docs: add recap for customer web portal task completion
  .agent-os/recaps/2025-09-07-customer-web-portal.md
Due: prettier --write

fix: resolve test suite stalling issues
  packages/api/src/routes/websocket.test.ts
  packages/api/src/server.ts
Due: eslint --fix, prettier --write

feat: implement Next.js 14 web portal foundation with authentication and navigation
  .agent-os/specs/2025-09-07-customer-web-portal/tasks.md
  package-lock.json
  packages/web/app/globals.css
  packages/web/app/layout.tsx
  packages/web/app/page.tsx
  packages/web/middleware.ts
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/postcss.config.js
  packages/web/src/components/auth/ProtectedRoute.test.tsx
  packages/web/src/components/auth/ProtectedRoute.tsx
  packages/web/src/components/layout/AppLayout.tsx
  packages/web/src/components/layout/RootLayout.test.tsx
  packages/web/src/components/layout/RootLayout.tsx
  packages/web/src/components/layout/Sidebar.test.tsx
  packages/web/src/components/layout/Sidebar.tsx
  packages/web/src/components/providers/AuthProvider.tsx
  packages/web/src/components/ui/button.tsx
  packages/web/src/lib/supabase/client.ts
  packages/web/src/lib/supabase/server.ts
  packages/web/src/lib/utils.ts
  packages/web/src/store/app.store.test.ts
  packages/web/src/store/app.store.ts
  packages/web/tailwind.config.js
  packages/web/test/setup.ts
  packages/web/vitest.config.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

docs: add recap for completed Next.js web portal foundation task
  .agent-os/recaps/2025-09-07-customer-web-portal.md
Due: prettier --write

fix: resolve critical P1 issues in auth middleware and database triggers
  packages/api/src/middleware/web-portal-auth.middleware.ts
  packages/web/src/components/auth/ProtectedRoute.test.tsx
  packages/web/src/components/layout/RootLayout.test.tsx
  supabase/migrations/006_fix_owner_deletion_trigger.sql
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve all ESLint and TypeScript errors in web package
  .agent-os/specs/2025-09-07-customer-web-portal/tasks.md
  eslint.config.js
  packages/shared/src/index.ts
  packages/shared/src/utils/supabase-client.ts
  packages/web/app/layout.tsx
  packages/web/app/page.tsx
  packages/web/middleware.ts
  packages/web/src/components/auth/ProtectedRoute.tsx
  packages/web/src/components/layout/AppLayout.tsx
  packages/web/src/components/layout/RootLayout.tsx
  packages/web/src/components/layout/Sidebar.test.tsx
  packages/web/src/components/layout/Sidebar.tsx
  packages/web/src/components/providers/AuthProvider.tsx
  packages/web/src/lib/supabase/client.ts
  packages/web/src/lib/supabase/server.ts
  packages/web/src/lib/utils.ts
  packages/web/src/store/app.store.test.ts
  packages/web/src/store/app.store.ts
  packages/web/tsconfig.json
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: correct Supabase client return type cast
  packages/shared/src/utils/supabase-client.ts
Due: eslint --fix, prettier --write

feat: complete chat realtime & backend integration (Task 4)
  .agent-os/specs/2025-09-07-customer-web-portal/tasks.md
  packages/api/src/routes/__tests__/chat-broadcast.test.ts
  packages/api/src/routes/__tests__/chat.test.ts
  packages/api/src/routes/__tests__/websocket-auth.test.ts
  packages/api/src/routes/chat.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/server.ts
  packages/api/src/services/websocket-connection-manager.test.ts
  packages/api/src/services/websocket-connection-manager.ts
  packages/api/src/types/websocket.ts
  packages/web/next.config.js
  packages/web/src/lib/__tests__/websocket-client.test.ts
  packages/web/src/lib/constants.ts
  packages/web/src/lib/websocket-client.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat: implement comprehensive chat UI with device actions (Task 5)
  .agent-os/specs/2025-09-07-customer-web-portal/tasks.md
  package-lock.json
  packages/web/app/globals.css
  packages/web/components.json
  packages/web/package.json
  packages/web/src/components/chat/ChatInput.test.tsx
  packages/web/src/components/chat/ChatInput.tsx
  packages/web/src/components/chat/ChatMessage.test.tsx
  packages/web/src/components/chat/ChatMessage.tsx
  packages/web/src/components/chat/ChatPage.test.tsx
  packages/web/src/components/chat/ChatSessionList.test.tsx
  packages/web/src/components/chat/ChatSessionList.tsx
  packages/web/src/components/chat/DeviceActionModal.test.tsx
  packages/web/src/components/chat/DeviceActionModal.tsx
  packages/web/src/components/chat/MessageList.test.tsx
  packages/web/src/components/chat/MessageList.tsx
  packages/web/src/components/ui/badge.tsx
  packages/web/src/components/ui/card.tsx
  packages/web/src/components/ui/dropdown-menu.tsx
  packages/web/src/components/ui/input.tsx
  packages/web/src/components/ui/scroll-area.tsx
  packages/web/src/lib/utils.ts
  packages/web/src/store/chat.store.test.ts
  packages/web/src/store/chat.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: associate device actions with specific messages to prevent duplication
  .agent-os/recaps/2025-09-07-customer-web-portal.md
  packages/shared/src/types/database.generated.ts
  packages/web/src/components/chat/ChatInput.tsx
  packages/web/src/components/chat/ChatMessage.tsx
  packages/web/src/components/chat/ChatSessionList.tsx
  packages/web/src/components/chat/DeviceActionModal.tsx
  packages/web/src/components/chat/MessageList.tsx
  packages/web/src/components/ui/badge.tsx
  packages/web/src/components/ui/card.tsx
  packages/web/src/components/ui/dropdown-menu.tsx
  packages/web/src/components/ui/input.tsx
  packages/web/src/components/ui/scroll-area.tsx
  packages/web/src/lib/utils.ts
  packages/web/src/store/chat.store.ts
  supabase/migrations/009_add_message_id_to_device_actions.sql
  supabase/migrations/010_fix_owner_deletion_trigger.sql
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

chore: add .code directory to gitignore and update dependencies
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

feat: enhance API routes and WebSocket store for settings features
  package-lock.json
  package.json
  packages/api/src/middleware/web-portal-auth.middleware.ts
  packages/api/src/routes/chat.ts
  packages/api/src/routes/devices.ts
  packages/api/src/routes/organization.ts
  packages/api/src/routes/prompts.ts
  packages/api/src/routes/users.ts
  packages/api/src/routes/websocket.test.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/server.ts
  packages/api/src/services/supabase.ts
  packages/api/src/services/websocket-connection-manager.ts
  packages/api/src/types/fastify-extensions.ts
  packages/api/src/types/user-management.ts
  packages/web/app/layout.tsx
  packages/web/next.config.js
  packages/web/src/components/providers/ApiClientProvider.tsx
  packages/web/src/components/settings/DeviceRegistration.tsx
  packages/web/src/components/settings/OrganizationSettings.tsx
  packages/web/src/components/settings/PromptTemplateEditor.tsx
  packages/web/src/components/settings/UserManagement.tsx
  packages/web/src/lib/api-client.ts
  packages/web/src/lib/websocket-client.ts
  packages/web/src/store/websocket.store.ts
  supabase/migrations/011_user_management_fields.sql
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve 50% of ESLint errors across codebase
  .agent-os/product/roadmap.md
  package-lock.json
  packages/api/package.json
  packages/api/src/routes/chat.ts
  packages/api/src/routes/devices.ts
  packages/api/src/routes/organization.ts
  packages/api/src/routes/prompts.ts
  packages/api/src/routes/users.ts
  packages/web/src/components/chat/ChatInput.tsx
  packages/web/src/components/chat/ChatSessionList.tsx
  packages/web/src/components/chat/DeviceActionModal.tsx
  packages/web/src/components/chat/MessageList.tsx
  packages/web/src/components/providers/ApiClientProvider.tsx
  packages/web/src/components/settings/DeviceRegistration.tsx
  packages/web/src/components/settings/OrganizationSettings.tsx
  packages/web/src/components/settings/PromptTemplateEditor.tsx
  packages/web/src/components/settings/SettingsPage.tsx
  packages/web/src/components/settings/UserManagement.tsx
  packages/web/src/hooks/useSession.tsx
  packages/web/src/lib/api-client.ts
  packages/web/src/lib/websocket-client.ts
  packages/web/src/store/auth.store.ts
  packages/web/src/store/chat.store.ts
  packages/web/src/store/websocket.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve web portal startup issues and add missing pages
  package-lock.json
  packages/web/app/chat/page.tsx
  packages/web/app/login/page.tsx
  packages/web/app/page.tsx
  packages/web/app/settings/page.tsx
  packages/web/app/signup/page.tsx
  packages/web/middleware.ts
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/postcss.config.js
  packages/web/tailwind.config.js
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: enable owner user signup and resolve chat page errors
  docs/OWNER_USER_SETUP.md
  packages/web/app/chat/page.tsx
  packages/web/app/signup/page.tsx
  packages/web/public/manifest.json
  packages/web/src/components/chat/ChatSessionList.tsx
  packages/web/src/components/chat/DeviceActionModal.tsx
  packages/web/src/store/chat.store.ts
  supabase/migrations/2025010900001_initial_schema.sql
  supabase/migrations/2025010900002_rls_policies.sql
  supabase/migrations/2025010900003_auth_configuration.sql
  supabase/migrations/2025010900004_indexes_and_performance.sql
  supabase/migrations/2025010900005_web_portal_user_roles.sql
  supabase/migrations/2025010900006_web_portal_chat_tables.sql
  supabase/migrations/2025010900007_web_portal_ai_device_tables.sql
  supabase/migrations/2025010900008_web_portal_rls_policies.sql
  supabase/migrations/2025010900009_add_message_id_to_device_actions.sql
  supabase/migrations/2025010900010_fix_owner_deletion_trigger.sql
  supabase/migrations/2025010900011_user_management_fields.sql
  supabase/migrations/2025010900012_auto_assign_first_owner.sql
  supabase/migrations/20250109_fix_handle_new_user.sql
  supabase/migrations/20250109_fix_handle_new_user_v2.sql
  supabase/migrations/20250109_fix_rls_policies.sql
  supabase/migrations/combined_migrations.sql
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve chat input not appearing after session creation
  packages/web/app/chat/page.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve all TypeScript and ESLint errors across codebase
  packages/api/src/routes/devices.ts
  packages/api/src/server.ts
  packages/api/src/services/supabase.ts
  packages/api/src/types/websocket.ts
  packages/web/app/chat/page.tsx
  packages/web/app/login/page.tsx
  packages/web/app/signup/page.tsx
  packages/web/src/components/ui/button.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve all pre-commit hook ESLint errors
  packages/api/src/routes/devices.ts
  packages/web/app/chat/page.tsx
  packages/web/app/login/page.tsx
  packages/web/app/signup/page.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: resolve majority of ESLint errors across codebase
  packages/api/src/routes/organization.ts
  packages/api/src/routes/users.ts
  packages/api/src/routes/websocket-auth.test.ts
  packages/api/src/routes/websocket.ts
  packages/web/eslint.config.js
  packages/web/src/components/auth/ProtectedRoute.tsx
  packages/web/src/components/chat/ChatInput.tsx
  packages/web/src/components/chat/DeviceActionModal.tsx
  packages/web/src/components/chat/MessageList.tsx
  packages/web/src/components/providers/ApiClientProvider.tsx
  packages/web/src/components/providers/AuthProvider.tsx
  packages/web/src/components/settings/DeviceRegistration.tsx
  packages/web/src/components/settings/OrganizationSettings.tsx
  packages/web/src/components/ui/badge.tsx
  packages/web/src/components/ui/scroll-area.tsx
  packages/web/src/components/ui/separator.tsx
  packages/web/src/components/ui/sonner.tsx
  packages/web/src/hooks/use-toast.tsx
  packages/web/src/hooks/useSession.tsx
  packages/web/src/lib/api-client.ts
  packages/web/src/lib/utils.ts
  packages/web/src/lib/websocket-client.ts
  packages/web/src/store/app.store.ts
  packages/web/src/store/chat.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

fix: reduce ESLint errors from 600+ to 128 (79% improvement)
  packages/api/src/routes/organization.ts
  packages/api/src/routes/prompts.ts
  packages/api/src/routes/users.ts
  packages/api/src/routes/websocket.ts
  packages/web/src/components/chat/MessageList.tsx
  packages/web/src/components/settings/OrganizationSettings.tsx
  packages/web/src/components/ui/button.tsx
  packages/web/src/lib/utils.ts
  packages/web/src/store/chat.store.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat: implement device authentication and session management for local bootstrap
  packages/api/package.json
  packages/api/src/index.test.ts
  packages/api/src/routes/__tests__/websocket-auth.test.ts
  packages/api/src/routes/chat.ts
  packages/api/src/routes/device-auth-headers.test.ts
  packages/api/src/routes/device-auth.test.ts
  packages/api/src/routes/device-auth.ts
  packages/api/src/routes/websocket-auth.test.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/routes/websocket.ts.backup
  packages/api/src/scripts/README.md
  packages/api/src/scripts/add-device-auth-column.sql
  packages/api/src/scripts/seed-test-device.ts
  packages/api/src/scripts/test-auth-debug.ts
  packages/api/src/scripts/test-device-auth.ts
  packages/api/src/server.test.ts
  packages/api/src/services/device-auth.service.ts
  packages/api/src/test-supabase.ts
  packages/api/test/setup.ts
Due: eslint --fix, prettier --write

docs: add spec documentation and test environment updates for device bootstrap
  .agent-os/product/roadmap.md
  .agent-os/recaps/2025-09-09-device-agent-local-bootstrap.md
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/spec-lite.md
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/spec.md
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/sub-specs/api-spec.md
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/tasks.md
  .claude/commands/feedback.md
  .env.test
Due: prettier --write

fix: resolve linting errors in API package
  packages/api/src/routes/chat.ts
  packages/api/src/scripts/seed-test-device.ts
Due: eslint --fix, prettier --write

fix: critical - correct device heartbeat column names to match read paths
  packages/api/src/scripts/seed-test-device.ts
  packages/api/src/services/device-auth.service.ts
Due: eslint --fix, prettier --write

feat: implement device heartbeat system with metrics storage and WebSocket broadcasting
  CLAUDE.md
  docs/supabase-migrations-memory.md
  packages/api/src/config.ts
  packages/api/src/routes/device-auth.ts
  packages/api/src/routes/websocket.ts
  packages/api/src/server.ts
  packages/api/src/services/device-auth.service.ts
  supabase/migrations/2025010900013_add_device_heartbeat_metrics.sql
Due: eslint --fix, prettier --write

docs: update task completion status and recap for device heartbeat implementation
  .agent-os/recaps/2025-09-09-device-agent-local-bootstrap.md
  .agent-os/specs/2025-09-09-device-agent-local-bootstrap/tasks.md
Due: prettier --write

docs: add repository guidelines and development reference
  AGENTS.md
Due: prettier --write

fix: resolve ESLint errors in web package components
  packages/web/src/components/settings/OrganizationSettings.tsx
  packages/web/src/components/settings/PromptTemplateEditor.tsx
  packages/web/src/components/settings/UserManagement.tsx
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)) or (any of: packages/web/**/*.{ts,tsx,js,jsx})
  cd packages/web && next lint --fix: any of: packages/web/**/*.{ts,tsx,js,jsx}
