Repository hakin19/zen-support: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd packages/web && next lint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"],
  "packages/web/**/*.{ts,tsx,js,jsx}": ["cd packages/web && next lint --fix", "prettier --write"]
}

feat: Add Supabase MCP server configuration and Docker infrastructure
  .mcp.json
  CLAUDE.md
  SUPABASE_MCP_SETUP.md
  docs/implementation-plan.md
  infrastructure/docker/README.md
  infrastructure/docker/docker-compose.test.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

feat: Complete Phase 100.2.2 - Redis Session Management Setup
  docs/implementation-plan.md
  eslint.config.js
  infrastructure/docker/docker-compose.yml
  infrastructure/docker/redis.conf
  package-lock.json
  package.json
  packages/shared/dist/.tsbuildinfo
  packages/shared/package.json
  packages/shared/src/utils/redis-client.ts
  scripts/test-redis.ts
  scripts/tsconfig.json
Due: eslint --fix, prettier --write

feat: Complete Phase 100.2.3 - Supabase Authentication & Testing
  CLAUDE.md
  docs/auth-setup.md
  docs/implementation-plan.md
  eslint.config.js
  package-lock.json
  package.json
  packages/api/dist/.tsbuildinfo
  packages/api/test/setup.ts
  packages/api/vitest.config.ts
  packages/device-agent/dist/.tsbuildinfo
  packages/device-agent/test/setup.ts
  packages/device-agent/vitest.config.ts
  packages/shared/dist/.tsbuildinfo
  packages/shared/src/lib/supabase.ts
  packages/shared/test/setup.ts
  packages/shared/vitest.config.ts
  packages/web/test/setup.ts
  packages/web/tsconfig.tsbuildinfo
  packages/web/vitest.config.ts
  scripts/test-email-otp.ts
  scripts/test-redis-session.ts
  supabase/seed/002_auth_test_users.sql
  test/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

feat: Complete Phase 100.3.1 - Vitest Testing Framework Setup
  .env.test
  .eslintrc.json
  .eslintrc.test.json
  .gitignore
  .lintstagedrc.json
  docs/implementation-plan.md
  docs/testing-guide.md
  infrastructure/docker/Dockerfile.test
  infrastructure/docker/docker-compose.test.yml
  package.json
  packages/api/dist/.tsbuildinfo
  packages/api/dist/test-supabase.js
  packages/api/dist/test-supabase.js.map
  packages/api/package.json
  packages/api/src/index.test.ts
  packages/api/tsconfig.json
  packages/device-agent/dist/.tsbuildinfo
  packages/device-agent/dist/index.js
  packages/device-agent/dist/index.js.map
  packages/device-agent/package.json
  packages/device-agent/tsconfig.json
  packages/shared/dist/.tsbuildinfo
  packages/shared/dist/lib/supabase.d.ts
  packages/shared/dist/lib/supabase.d.ts.map
  packages/shared/dist/lib/supabase.js
  packages/shared/dist/lib/supabase.js.map
  packages/shared/package.json
  packages/shared/src/lib/supabase.test.ts
  packages/shared/src/utils/redis-client.test.ts
  packages/shared/test/setup.ts
  packages/shared/tsconfig.json
  packages/web/package.json
  test/fixtures/index.ts
  test/tsconfig.json
Due: eslint --fix, prettier --write

chore: Remove dist files from git tracking
  packages/api/dist/.tsbuildinfo
  packages/api/dist/index.d.ts
  packages/api/dist/index.d.ts.map
  packages/api/dist/index.js
  packages/api/dist/index.js.map
  packages/api/dist/test-supabase.d.ts
  packages/api/dist/test-supabase.d.ts.map
  packages/api/dist/test-supabase.js
  packages/api/dist/test-supabase.js.map
  packages/device-agent/dist/.tsbuildinfo
  packages/device-agent/dist/index.d.ts
  packages/device-agent/dist/index.d.ts.map
  packages/device-agent/dist/index.js
  packages/device-agent/dist/index.js.map
  packages/shared/dist/.tsbuildinfo
  packages/shared/dist/index.d.ts
  packages/shared/dist/index.d.ts.map
  packages/shared/dist/index.js
  packages/shared/dist/index.js.map
  packages/shared/dist/lib/supabase.d.ts
  packages/shared/dist/lib/supabase.d.ts.map
  packages/shared/dist/lib/supabase.js
  packages/shared/dist/lib/supabase.js.map
  packages/shared/dist/types/database.types.d.ts
  packages/shared/dist/types/database.types.d.ts.map
  packages/shared/dist/types/database.types.js
  packages/shared/dist/types/database.types.js.map
Due: eslint --fix, prettier --write

feat: Complete Phase 100.3.3 - Docker Compose Testing Environment & Security Hardening
  .env.example
  .env.test.example
  .gitallowed
  .github/workflows/test.yml
  .gitignore
  .mcp.json
  docs/implementation-plan.md
  docs/security-guide.md
  docs/supabase-setup.md
  docs/testing-guide.md
  docs/testing-troubleshooting.md
  infrastructure/docker/docker-compose.test.yml
  package.json
  scripts/test-db-init.sh
  scripts/test-email-otp.ts
  supabase/config.test.toml
  supabase/seed/001_test_data.sql
  supabase/seed/002_auth_test_users.sql
  test/basic.test.ts
  test/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: Complete Phase 100.3.4-100.3.6 - Local Testing & Quality Framework
  .husky/pre-push
  docs/testing-guide.md
  docs/testing-troubleshooting.md
  package-lock.json
  package.json
  scripts/cleanup-test-data.ts
  scripts/dev-test.ts
  scripts/quality-gates.ts
  scripts/reset-test-db.ts
  scripts/seed-test-data.ts
  scripts/test-runner.ts
  scripts/test-watch.ts
  test/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: Complete Phase 100.4.1 - Local SSL/HTTPS Development Setup
  .env.example
  .gitignore
  docs/implementation-plan.md
  docs/ssl-setup.md
  infrastructure/docker/docker-compose.ssl.yml
  infrastructure/docker/traefik-dynamic.yml
  package.json
  packages/shared/src/index.ts
  packages/shared/src/utils/https-server.ts
  scripts/renew-ssl.sh
  scripts/setup-ssl.sh
  scripts/update-hosts.sh
  scripts/validate-ssl.sh
Due: eslint --fix, prettier --write

fix: Resolve lint errors and add Express types to shared package
  .eslintrc.json
  CLAUDE.md
  eslint.config.js
  package-lock.json
  packages/api/package.json
  packages/shared/package.json
  packages/shared/src/utils/https-server.ts
Due: eslint --fix, prettier --write

fix: Fix type issues in API test-supabase.ts
  packages/api/src/test-supabase.ts
  packages/web/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

fix: Resolve ESLint warnings in shared package supabase.ts
  packages/shared/src/lib/supabase.ts
Due: eslint --fix, prettier --write

feat: Complete local test coverage reporting and quality gates (Task 100.3.4)
  docs/implementation-plan.md
  docs/testing-coverage.md
  package.json
  packages/api/vitest.config.ts
  packages/device-agent/vitest.config.ts
  packages/shared/vitest.config.ts
  packages/web/tsconfig.tsbuildinfo
  packages/web/vitest.config.ts
  scripts/coverage-aggregator.ts
  scripts/coverage-badge.ts
  scripts/staged-coverage.ts
Due: eslint --fix, prettier --write, cd packages/web && next lint --fix

docs: Consolidate and improve testing documentation
  docs/development-workflows.md
  docs/implementation-plan.md
  docs/testing-guide.md
  docs/testing-troubleshooting.md
  eslint.config.js
  package.json
  scripts/deps-check.ts
  scripts/env-check.ts
  scripts/pre-release.ts
  scripts/workflow.ts
Due: eslint --fix, prettier --write

feat: Complete test data management infrastructure (Task 100.3.6)
  docs/implementation-plan.md
  docs/test-data-management.md
  eslint.config.js
  package-lock.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/lib/supabase.ts
  packages/shared/src/test/factories/index.ts
  packages/shared/src/test/fixtures/customer.fixtures.ts
  packages/shared/src/test/fixtures/device.fixtures.ts
  packages/shared/src/test/fixtures/diagnostic-session.fixtures.ts
  packages/shared/src/test/fixtures/index.ts
  packages/shared/src/test/fixtures/user.fixtures.ts
  packages/shared/src/test/types/fixture-types.ts
  packages/shared/src/test/utils/test-context.ts
  packages/shared/src/types/database.types.ts
  packages/shared/src/types/supabase.types.ts
Due: eslint --fix, prettier --write

refactor: Streamline Phase 100.4 security tasks for efficient development
  .github/workflows/test.yml
  docs/implementation-plan.md
Due: prettier --write

Create claude-dispatch.yml
  .github/workflows/claude-dispatch.yml
Due: prettier --write

feat: Complete Task 1 - Containerized device agent infrastructure
  .agent-os/instructions/core/analyze-product.md
  .agent-os/instructions/core/create-spec.md
  .agent-os/instructions/core/create-tasks.md
  .agent-os/instructions/core/execute-task.md
  .agent-os/instructions/core/execute-tasks.md
  .agent-os/instructions/core/plan-product.md
  .agent-os/instructions/core/post-execution-tasks.md
  .agent-os/instructions/meta/post-flight.md
  .agent-os/instructions/meta/pre-flight.md
  .agent-os/product/mission-lite.md
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
  .agent-os/specs/2025-09-02-device-agent-emulation/spec-lite.md
  .agent-os/specs/2025-09-02-device-agent-emulation/spec.md
  .agent-os/specs/2025-09-02-device-agent-emulation/sub-specs/api-spec.md
  .agent-os/specs/2025-09-02-device-agent-emulation/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-02-device-agent-emulation/tasks.md
  .agent-os/standards/best-practices.md
  .agent-os/standards/code-style.md
  .agent-os/standards/code-style/css-style.md
  .agent-os/standards/code-style/html-style.md
  .agent-os/standards/code-style/javascript-style.md
  .agent-os/standards/tech-stack.md
  .claude/commands/analyze-product.md
  .claude/commands/create-spec.md
  .claude/commands/create-tasks.md
  .claude/commands/execute-tasks.md
  .claude/commands/plan-product.md
  docs/architecture.md
  docs/implementation-plan.md
  package.json
  packages/device-agent/.env.example
  packages/device-agent/Dockerfile
  packages/device-agent/docker-compose.yml
  packages/device-agent/src/config.ts
  packages/device-agent/src/device-agent.ts
  packages/device-agent/src/index.ts
  packages/device-agent/src/types.ts
  packages/device-agent/test/device-agent.test.ts
Due: eslint --fix, prettier --write

fix: Resolve ESLint errors in device-agent package
  packages/device-agent/src/config.ts
  packages/device-agent/src/device-agent.ts
  packages/device-agent/src/index.ts
Due: eslint --fix, prettier --write

fix: Update tests to match synchronous stop/shutdown methods
  packages/device-agent/test/device-agent.test.ts
Due: eslint --fix, prettier --write

fix: Resolve TypeScript null check error in index.ts
  packages/device-agent/src/index.ts
Due: eslint --fix, prettier --write

feat: Implement Raspberry Pi emulation for device agent
  .agent-os/specs/2025-09-02-device-agent-emulation/tasks.md
  packages/device-agent/Dockerfile
  packages/device-agent/README-EMULATION.md
  packages/device-agent/build-multiarch.sh
  packages/device-agent/docker-compose.yml
Due: prettier --write

feat(device-agent): Implement network diagnostic tools with mocked testing
  .agent-os/specs/2025-09-02-device-agent-emulation/tasks.md
  packages/device-agent/src/diagnostics/diagnostic-executor.test.ts
  packages/device-agent/src/diagnostics/diagnostic-executor.ts
  packages/device-agent/src/diagnostics/index.ts
  packages/device-agent/src/diagnostics/result-formatter.test.ts
  packages/device-agent/src/diagnostics/result-formatter.ts
Due: eslint --fix, prettier --write

test(device-agent): improve ResultFormatter test coverage to 94.82%
  packages/device-agent/src/diagnostics/result-formatter.test.ts
Due: eslint --fix, prettier --write

feat(device-agent): Implement API communication layer with JWT authentication
  .agent-os/specs/2025-09-02-device-agent-emulation/tasks.md
  packages/device-agent/src/api/api-client.test.ts
  packages/device-agent/src/api/api-client.ts
  packages/device-agent/src/api/index.ts
  packages/device-agent/src/api/types.ts
Due: eslint --fix, prettier --write

fix: ESLint configuration and diagnostic-executor lint errors
  .eslintrc.json
  eslint.config.js
  packages/device-agent/src/diagnostics/diagnostic-executor.ts
Due: eslint --fix, prettier --write

fix(device-agent): resolve TypeScript errors in diagnostic parsing
  packages/device-agent/src/diagnostics/diagnostic-executor.ts
  packages/device-agent/src/diagnostics/result-formatter.ts
Due: eslint --fix, prettier --write

docs: clarify multi-device-agent terminology to avoid confusion with AI agents
  .agent-os/specs/2025-09-02-device-agent-emulation/spec.md
  .agent-os/specs/2025-09-02-device-agent-emulation/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-02-device-agent-emulation/tasks.md
Due: prettier --write

feat(device-agent): Implement command execution framework with priority queues
  .agent-os/specs/2025-09-02-device-agent-emulation/tasks.md
  .claude/commands/feedback.md
  package-lock.json
  packages/device-agent/package.json
  packages/device-agent/src/command/command-queue.test.ts
  packages/device-agent/src/command/command-queue.ts
  packages/device-agent/src/command/index.ts
Due: eslint --fix, prettier --write

chore: update package-lock and add agent-os recaps
  .agent-os/recaps/2025-09-02-device-agent-emulation.md
  package-lock.json
Due: prettier --write

feat(device-agent): Enable multi-agent orchestration with Docker Compose
  .agent-os/specs/2025-09-02-device-agent-emulation/tasks.md
  config/fluentd/fluent.conf
  docker-compose.multi-agent.yml
  package-lock.json
  packages/device-agent/package.json
  packages/device-agent/src/device-agent.ts
  packages/device-agent/src/diagnostics/diagnostic-executor.ts
  packages/device-agent/src/diagnostics/result-formatter.ts
  packages/device-agent/src/multi-agent-orchestrator.test.ts
  packages/device-agent/src/utils/device-id-generator.ts
  scripts/scale-agents.sh
  scripts/start-multi-agents.sh
  scripts/stop-multi-agents.sh
  scripts/view-agent-logs.sh
Due: eslint --fix, prettier --write

test(device-agent): add comprehensive test suite for multi-agent orchestration
  packages/device-agent/src/tests/log-aggregation.test.ts
  packages/device-agent/src/tests/multi-agent-orchestration.test.ts
  packages/device-agent/src/tests/network-isolation.test.ts
Due: eslint --fix, prettier --write

fix: resolve ESLint errors for nullish coalescing operators
  packages/device-agent/src/device-agent.ts
  packages/device-agent/src/diagnostics/diagnostic-executor.ts
  packages/device-agent/src/utils/device-id-generator.ts
Due: eslint --fix, prettier --write

chore: remove accidentally tracked tsconfig.tsbuildinfo file
  packages/web/tsconfig.tsbuildinfo
Due: none

docs: remove MFA from product roadmap and documentation
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
  docs/prd.md
Due: prettier --write

feat: implement API Gateway specification and Fastify server foundation
  .agent-os/product/roadmap.md
  .agent-os/specs/2025-09-03-api-gateway/spec-lite.md
  .agent-os/specs/2025-09-03-api-gateway/spec.md
  .agent-os/specs/2025-09-03-api-gateway/sub-specs/api-spec.md
  .agent-os/specs/2025-09-03-api-gateway/sub-specs/technical-spec.md
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/development-guidelines.md
  docs/implementation-plan.md
  docs/ssl-setup.md
  package-lock.json
  packages/api/package.json
  packages/api/src/index.test.ts
  packages/api/src/index.ts
  packages/api/src/server.ts
  packages/shared/src/index.ts
  packages/shared/src/utils/https-server.ts
Due: eslint --fix, prettier --write

fix: address critical security and reliability issues in API Gateway spec
  .agent-os/specs/2025-09-03-api-gateway/sub-specs/api-spec.md
  .agent-os/specs/2025-09-03-api-gateway/sub-specs/technical-spec.md
  .agent-os/specs/2025-09-03-api-gateway/tasks.md
  packages/api/src/server.ts
Due: eslint --fix, prettier --write

feat: implement Fastify API gateway foundation with health endpoints
  .agent-os/specs/2025-09-03-api-gateway/tasks.md
  package-lock.json
  package.json
  packages/api/package.json
  packages/api/src/config.ts
  packages/api/src/index.ts
  packages/api/src/routes/device-auth.test.ts
  packages/api/src/routes/device-auth.ts
  packages/api/src/routes/health.test.ts
  packages/api/src/routes/health.ts
  packages/api/src/server.test.ts
  packages/api/src/server.ts
  packages/api/src/services/device-auth.service.ts
  packages/api/src/services/session.service.ts
  packages/api/src/utils/dependency-checker.ts
Due: eslint --fix, prettier --write
